---
import {
  AddressIcon,
  EmailIcon,
  EnglishIcon,
  GitHubIcon,
  LinkedInIcon,
  SpanishIcon,
  TwitterIcon,
  WebsiteIcon,
} from '@assets/icons';
import profileImage from '@assets/profile-image.jpeg';
import { Image } from 'astro:assets';
import LinkList from './LinkList.astro';
---

<section class="flex h-full w-[280px] shrink-0 flex-col items-start gap-4 bg-gray-darker p-6">
  <header class="flex flex-col items-start justify-center gap-2 self-stretch">
    <Image
      src={profileImage}
      height={144}
      width={144}
      alt="Profile"
      class="h-12 w-12 rounded-full"
      quality={100}
      format="webp"
    />
    <hgroup class="flex flex-col items-start gap-1 self-stretch">
      <h1
        class="self-stretch text-3xl font-medium leading-relaxed tracking-wider text-gray-lightest [font-family:Outfit]"
      >
        Royer Adames
      </h1>
      <p
        class="self-stretch text-base font-medium leading-normal tracking-wider text-primary-gradient [font-family:Outfit]"
      >
        Full-Stack Developer
      </p>
    </hgroup>
  </header>

  <blockquote>
    <p
      class="self-stretch text-base font-medium leading-normal tracking-widest text-gray-lighter [font-family:Outfit]"
    >
      <span class="quote-mark">"</span>People value web development that values their needs.<span
        class="quote-mark">"</span
      >
    </p>
    <cite
      class="self-stretch text-sm font-normal leading-normal tracking-wider text-gray-light [font-family:'DM_Sans']"
    >
      - Royer Adames
    </cite>
  </blockquote>

  <LinkList
    links={[
      {
        href: 'mailto:adamesroyer@gmail.com',
        title: 'Email',
        subTitle: 'adamesroyer@gmail.com',
        icon: EmailIcon,
      },
      {
        href: 'https://royeradames.com',
        title: 'Website',
        subTitle: 'https://royeradames.com',
        icon: WebsiteIcon,
      },
      {
        href: 'https://maps.app.goo.gl/DoVHmr6qFiWSQ2Pz7',
        title: 'Address',
        subTitle: 'Florida, USA',
        icon: AddressIcon,
      },
    ]}
  />

  <LinkList
    title="Socials"
    links={[
      {
        href: 'https://x.com/RoyerAAdames',
        title: 'Twitter',
        subTitle: '@RoyerAAdames',
        icon: TwitterIcon,
        iconClass: 'bg-social-twitter',
      },
      {
        href: 'https://www.linkedin.com/in/royer-adames/',
        title: 'LinedIn',
        subTitle: 'Royer Adames',
        icon: LinkedInIcon,
        iconClass: 'bg-social-linkedin',
      },
      {
        href: 'https://github.com/royeradames',
        title: 'GitHub',
        subTitle: 'royeradames',
        icon: GitHubIcon,
        iconClass: 'text-white',
      },
    ]}
  />

  <LinkList
    title="Languages"
    links={[
      {
        href: 'https://en.wikipedia.org/wiki/English_language',
        title: 'English',
        subTitle: 'Professional working',
        icon: EnglishIcon,
      },
      {
        href: 'https://en.wikipedia.org/wiki/Spanish_language',
        title: 'Spanish',
        subTitle: 'Native',
        icon: SpanishIcon,
      },
    ]}
  />
</section>
