---
import { AppleLogo } from '@assets/business-logos';
import { FigmaIcon, LocationIcon } from '@assets/icons';
import figmaImage from '@assets/projects/figma-project.png'; // You'll need to add your image to the assets folder
const experiences = [
  {
    image: figmaImage,
    imageAlt: 'Powerful Design System',
    title: 'Powerful Design System',
    description: 'Figma UI Kit and Design System targeting a wide variety of use cases.',
    link: 'https://figma.com',
    Icon: FigmaIcon,
  },
];
---

<section class="flex gap-4">
  <div id="list-visual" class="flex flex-col items-center" aria-hidden="true">
    <div
      id="dot-background"
      class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gray-darker"
    >
      <div id="dot" class="h-3 w-3 rounded-full bg-primary-light"></div>
    </div>
    <div id="divider" class="h-full w-0.5 bg-gray-darker"></div>
  </div>
  <div class="flex w-full flex-col gap-4">
    <h2 class="leading-16px tracking-0.12px font-outfit text-2xl font-bold text-gray-lightest">
      Experience
    </h2>
    <ul class="flex flex-wrap gap-1 pb-6">
      {
        experiences.map((project) => (
          <li class="group flex w-full gap-4">
            <div id="list-visual" class="flex flex-col items-center gap-4" aria-hidden="true">
              <div id="dot" class="h-3 w-3 rounded-full bg-gray-light" />
              <div id="divider" class="h-full w-0.5 bg-gray-darker group-last:hidden" />
            </div>
            <div class="flex w-full justify-between gap-2 text-gray-light">
              <div class="flex flex-col gap-2">
                <p class="flex flex-wrap items-center gap-4">
                  <span>Jul 20 - Jan 2022</span>
                  <span>
                    <LocationIcon />
                    Cupertino
                  </span>
                </p>
                <div class="flex flex-wrap items-center gap-4">
                  <AppleLogo />
                  <div class="flex flex-col gap-2">
                    <p>Product designer</p>
                    <p class="text-gray-lightest">Apple</p>
                  </div>
                </div>
              </div>
              <p class="max-w-md">
                Omnis minima inventore minus. Aut et incidunt. Aut fugiat culpa illum optio dolorum
                aut maxime ipsa. Laborum incidunt enim consectetur perspiciatis. Dolore ullam dolor
                impedit dolorum recusandae facilis quo et. Et ipsam vel sunt qui ut officia
                voluptatem.
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
