---
import { AppleLogo } from '@assets/business-logos';
import { FigmaIcon, LocationIcon } from '@assets/icons';
import figmaImage from '@assets/projects/figma-project.png'; // You'll need to add your image to the assets folder
import StepIconWrapPrimary from './StepIconWrapPrimary.astro';
import StepIconWrapSecondary from './StepIconWrapSecondary.astro';
const experiences = [
  {
    image: figmaImage,
    imageAlt: 'Powerful Design System',
    title: 'Powerful Design System',
    description: 'Figma UI Kit and Design System targeting a wide variety of use cases.',
    link: 'https://figma.com',
    Icon: FigmaIcon,
  },
];
---

<section class="flex gap-4">
  <StepIconWrapPrimary />
  <div class="flex w-full flex-col gap-4">
    <h2 class="leading-16px tracking-0.12px font-outfit text-2xl font-bold text-gray-lightest">
      Experience
    </h2>
    <ul class="flex flex-wrap gap-1 pb-6">
      {
        experiences.map((project) => (
          <li class="group flex w-full gap-4">
            <StepIconWrapSecondary />
            <div class="flex w-full justify-between gap-2 text-gray-light">
              <div class="flex flex-col gap-2">
                <p class="flex flex-wrap items-center gap-4">
                  <span>Jul 20 - Jan 2022</span>
                  <span>
                    <span class="sr-only">on</span>
                    <LocationIcon aria-label="" />
                    Cupertino
                  </span>
                </p>
                <p class="flex flex-wrap items-center gap-4">
                  <AppleLogo aria-label="" />
                  <span class="flex flex-col gap-2">
                    <span>Product designer</span>
                    <span class="text-gray-lightest">
                      <span class="sr-only">in</span> Apple
                    </span>
                  </span>
                </p>
              </div>
              <p class="max-w-md">
                Omnis minima inventore minus. Aut et incidunt. Aut fugiat culpa illum optio dolorum
                aut maxime ipsa. Laborum incidunt enim consectetur perspiciatis. Dolore ullam dolor
                impedit dolorum recusandae facilis quo et. Et ipsam vel sunt qui ut officia
                voluptatem.
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
