---
import profileImage from '@assets/profile-image.jpeg';
import { Image } from 'astro:assets';
import LinkList from './LinkList.astro';
import {
  AddressIcon,
  EmailIcon,
  EnglishIcon,
  GitHubIcon,
  LinkedInIcon,
  SpanishIcon,
  TwitterIcon,
  WebsiteIcon,
} from '@assets/icons';
---

<section class="flex h-[842px] w-[180px] shrink-0 flex-col items-start gap-4 bg-[#2E2E48] p-6">
  <header class="flex flex-col items-start justify-center gap-2 self-stretch">
    <Image
      src={profileImage}
      height={144}
      width={144}
      alt="Profile"
      class="h-12 w-12 rounded-[100px]"
      quality={100}
      format="webp"
    />
    <hgroup class="flex flex-col items-start gap-1 self-stretch">
      <h1
        class="self-stretch text-base font-medium leading-5 tracking-[-0.32px] text-[color:var(--Gray-Lightest,#E2E6EE)] [font-family:Outfit]"
      >
        Royer Adames
      </h1>
      <p
        class="text-primary-gradient self-stretch text-xs font-medium leading-4 tracking-[0.12px] [font-family:Outfit]"
      >
        Full-Stack Developer
      </p>
    </hgroup>
  </header>

  <blockquote>
    <p
      class="self-stretch text-[9px] font-medium leading-3 tracking-[0.18px] text-[color:var(--Gray-Lighter,#D9DFE8)] [font-family:Outfit]"
    >
      <span class="quote-mark">"</span>People value web development that values their needs.<span
        class="quote-mark">"</span
      >
    </p>
    <cite
      class="self-stretch text-[6px] font-normal leading-[8px] tracking-[0.06px] text-[color:var(--Gray-Light,#ACB1C3)] [font-family:'DM_Sans']"
    >
      Royer Adames
    </cite>
  </blockquote>

  <LinkList
    links={[
      {
        href: 'mailto:adamesroyer@gmail.com',
        title: 'Email',
        subTitle: 'adamesroyer@gmail.com',
        icon: EmailIcon,
      },
      {
        href: 'https://royeradames.com',
        title: 'Website',
        subTitle: 'https://royeradames.com',
        icon: WebsiteIcon,
      },
      {
        href: 'https://maps.app.goo.gl/DoVHmr6qFiWSQ2Pz7',
        title: 'Address',
        subTitle: 'Florida, USA',
        icon: AddressIcon,
      },
    ]}
  />

  <LinkList
    title="Socials"
    links={[
      {
        href: 'https://x.com/RoyerAAdames',
        title: 'Twitter',
        subTitle: '@RoyerAAdames',
        icon: TwitterIcon,
        iconClass: 'bg-[var(--Social-Twitter,#00ACEE)]',
      },
      {
        href: 'https://www.linkedin.com/in/royer-adames/',
        title: 'LinedIn',
        subTitle: 'Royer Adames',
        icon: LinkedInIcon,
        iconClass: 'bg-[var(--Social-Linkedin,#0077B5)]',
      },
      {
        href: 'https://github.com/royeradames',
        title: 'GitHub',
        subTitle: 'royeradames',
        icon: GitHubIcon,
        iconClass: 'text-white',
      },
    ]}
  />

  <LinkList
    title="Languages"
    links={[
      {
        href: 'https://en.wikipedia.org/wiki/English_language',
        title: 'English',
        subTitle: 'Professional working',
        icon: EnglishIcon,
      },
      {
        href: 'https://en.wikipedia.org/wiki/Spanish_language',
        title: 'Spanish',
        subTitle: 'Native',
        icon: SpanishIcon,
      },
    ]}
  />
</section>
