---
import EnglishIcon from './icons/englishIcon.svg';
export interface Props {
  title?: string;
  links: {
    href: string;
    title: string;
    subTitle: string;
    icon: typeof EnglishIcon;
    iconClass?: string;
  }[];
  className?: string;
}

const { title, links, className = '' } = Astro.props;
---

<section class:list={['flex w-full flex-col gap-3 border-t border-white/10 pt-4', className]}>
  {
    title && (
      <h2 class="text-[6px] font-normal leading-[8px] tracking-[0.06px] text-[color:var(--Gray-Light,#ACB1C3)] [font-family:'DM_Sans']">
        {title}
      </h2>
    )
  }
  <ul class="m-0 flex list-none flex-col gap-3">
    {
      links.map((link) => {
        const Icon = link.icon;
        return (
          <li>
            <a href={link.href} class="group flex items-center gap-2 self-stretch">
              <span
                class:list={[
                  'flex h-4 w-4 shrink-0 items-center justify-center rounded-[100px] group-hover:bg-[var(--Gray-Darkest,#232339)]',
                  link.iconClass,
                ]}
              >
                <Icon />
              </span>
              <div>
                <p class="self-stretch text-[6px] font-normal leading-[8px] tracking-[0.06px] text-[color:var(--Gray-Light,#ACB1C3)] [font-family:'DM_Sans']">
                  {link.title}
                </p>
                <p class="self-stretch text-[7px] font-medium leading-[9px] text-[color:var(--Gray-Lighter,#D9DFE8)] [font-family:'DM_Sans']">
                  {link.subTitle}
                </p>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
