<div id="list-visual" class="flex flex-col items-center" aria-hidden="true">
  <div
    id="dot-background"
    class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gray-darker"
  >
    <div id="dot" class="h-3 w-3 rounded-full bg-primary-light"></div>
  </div>
  <div id="divider" class="h-full w-0.5 bg-gray-darker"></div>
</div>
