<div id="list-visual" class="flex flex-col items-center gap-4 pt-2" aria-hidden="true">
  <div id="dot" class="h-3 w-3 flex-shrink-0 rounded-full bg-gray-light"></div>
  <div id="divider" class="h-full w-0.5 bg-gray-darker group-last:hidden"></div>
</div>
